<!DOCTYPE html>
<html>
<head>
  <title>Microposts</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
</head>

<body>
  <%= render "layouts/header" %>
    <div class="container">
      <% flash.each do | message_type, message |%>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

<!--
    <% if flash[:alert] == "danger" %>
      <div class="alert alert-danger">
        <strong>Danger!</strong>
      </div>
    <% elsif flash[:alert] == "success" %>
      <div class="alert alert-success">
        <strong>Success!</strong>
      </div>

    <% end %>
-->      
      <%= yield %>
    </div>
</body>
</html>
